# =====================
# Python
# =====================

__pycache__/
*.pyc
*.pyo


# =====================
# Virtual Environment
# =====================

venv/
env/
.venv/


# =====================
# Database
# =====================

*.db
*.sqlite
*.sqlite3


# =====================
# YOLO Model
# =====================

*.pt
*.pth


# =====================
# Uploads
# =====================

backend/uploads/
uploads/


# =====================
# YOLO Results
# =====================

backend/runs/
runs/

backend/results/
results/


# =====================
# Cache
# =====================

.cache/


# =====================
# VS Code
# =====================

.vscode/


# =====================
# OS
# =====================

.DS_Store
Thumbs.db


# =====================
# Keep README Image
# =====================

!image.png

# YOLO training files
runs/
dataset/

# Models
*.pt
